<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Tomasz Cichy - data scientist</title>
</head>

<body>
    <div class="container">
        <h1>Tomasz Cichy</h1>
        <!-- ABOUT ME -->
        <h3>About me</h3>
        <p class="text-justify">I am an aspiring data scientist from Poland. I have obtained an IT Technician degree during my high school education.
            Right now I am studying
            <span class="accent">Mathematics and Data Analytics</span> at Coventry University in England. Except for technology my interest revolve
            around psychology, traveling, and music.
        </p>

        <!-- Contact -->
        <h3>Contact</h3>
        <ul class="contact-list">
            <li>
                <span class="contact-label">email :</span> tomasz.cichy98@gmail.com</li>
            <li>
                <span class="contact-label">phone :</span> +48 533 413 521 | +44 7843 854520</li>
        </ul>

        <!-- PROJECTS LIST -->
        <h3>My projects</h3>
        <ul id="project-list"></ul>
        <p>
            <a href="./allProjects.html" target="_blank">See full list...</a>
        </p>

        <!-- Links -->
        <h3>Links</h3>
        <ul class="links-list">
            <li>
                <a href="https://gitlab.com/tomasz.cichy98" target="_blank">GitLab</a> |
            </li>
            <li>
                <a href="https://www.linkedin.com/in/tomasz-cichy/" target="_blank">&nbspLinkedIn</a> |
            </li>
            <li>
                <a href="https://www.kaggle.com/pantomasz98" target="_blank">&nbspKaggle</a>
            </li>
        </ul>
    </div>

    <!-- LIST ITEM TEMPLATE -->
    <template id="list-item-template">
        <li>
            <a href="{{notebook_src}}" target="_blank">{{title}}</a>,
            <span class="progLang">{{language}}</span>
            <br>
            <pre>{{desc}}</pre>
        </li>
    </template>

    <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Mustache -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="./list.js"></script>

</body>

</html>