:root{
    --accent-color: hotpink;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

h1 {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

p,
li, .progLang {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    white-space: normal;
    text-align: justify;
}

.text-justify {
    text-align: justify;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

#project-list,
.contact-list {
    list-style-type: square;
}

.links-list {
    list-style-type: none;
}

.links-list li {
    float: left;
    margin-bottom: 10px;
}

.contact-label {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color)
}