<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/index.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <link rel="manifest" href="./manifest.json">


    <title>Tomasz Cichy - front-end developer and data scientist</title>
</head>

<body>
    <div class="container-fluid">
        <!-- ABOUT ME -->
        <div class="row about-me-row justify-content-center">
            <div class="col-lg-3 d-flex align-items-center">
                <img src="./media/prof.jpg" alt="Profile Image" srcset="" class="rounded-circle">
            </div>

            <div class="col-lg-6 d-flex align-items-center ">
                <div class="text-background">
                    <div class="about-me-text">
                        <h1>About me</h1>
                        <p class="text-justify">I am a 20 year old front-end developer currently learning Data Science. I am studying Mathematics
                            and Data Analytics at Coventry University. I have obtained an IT technician degree in 2018.</p>
                        <a href="https://www.facebook.com/tomek.cichy.509" class="facebook-link">
                            <i class="fab fa-facebook fa-2x">
                            </i>
                        </a>
                        <a href="https://gitlab.com/tomasz.cichy98" class="gitlab-link">
                            <i class="fab fa-gitlab fa-2x"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/tomasz-cichy" class="linkedin-link">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <div class="links">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /ABOUT ME -->
        <!-- PROJECTS -->
        <div class="row projects-row justify-content-center" id="projects-row">

        </div>
        <!-- /PROJECTS -->
    </div>

    <template id="card-template">
        <div class="col-xl-3 col-lg-4 col-sm-6 justify-content-center">
            <div class="card value-{{value}}" style="width: 18rem;">
                <a href="{{notebook_src}}" target="_blank"><img class="card-img-top" src="{{img_src}}" alt="Card image cap" height="210px"></a>
                <span class="badge badge-primary">{{language}}</span>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text text-left">{{desc}}</p>
                    <a href="{{notebook_src}}" class="btn btn-outline" target="_blank">Go to notebook</a>
                </div>
            </div>
        </div>
    </template>



    <!-- SCRIPTS -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Mustache -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
        crossorigin="anonymous"></script>

    <!-- My -->
    <script src="./scripts/cards.js"></script>

</body>

</html>