h1, h5, a {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.about-me-row {
    /* min-height: 100vh; */
    /* background-color: magenta; */
    overflow: hidden;
    min-height: 100vh;
    background-image: url("./../media/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* margin-bottom: 50px; */
}

.about-me-row img {
    margin: 0 auto;
    width: 20rem;
}

.about-me-row .text-background {
    padding: 10px 30px;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 1vh 2vh;
}

.about-me-row a {
    float: right;
}

.about-me-row i, .about-me-row svg {
    color: magenta;
    margin: 0 5px;
    float: right;
}

.about-me-row i:hover, .about-me-row svg:hover {
    color: darkmagenta;
}

.about-me-text {
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
}

.about-me-text h1{
    font-weight: bold;
    color: #FFCE19;
}

.about-me-text p {
    font-size: 1.2em;
}

.projects-row {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5%;
    padding-left: 5%;
}

.card {
    margin: 10px auto;
    border-radius: 0;
}

.card img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 0;
}

.card .badge {
    position: absolute;
    border-radius: 0;
    background-color: #FFCE19;
    box-shadow: 2px 4px black;
    left: 5px;
    top: 5px;
}

.btn {
    border-radius: 0;
    border: 2px solid magenta;
    color: black;
    box-shadow: 5px 10px black;
}

.btn:hover, .btn:focus {
    border: 2px solid darkmagenta;
    box-shadow: 5px 10px black;
    color: black;
}